body {
	    	background-image: url(cool.jpg);
	    }
h2 {
	color: white;
	text-align: center;
	font-family: fantasy;
	font-size: 35px;
	.text-border 
	-webkit-text-fill-color:#00FF00;
	-webkit-text-stroke-color:#00FF00;
	-webkit-text-stroke:2px;
}

.highlight {
			font-size: 20px;
			font-weight: bold;
			font-style: italic;
			background-color:white;
			opacity: .6;
			color: blue;
		}

		
		#mainPoint {
			font-size: 24px;
			font-weight: bold;
			background-color: pink;
			opacity: .7;
			font-family: fantasy;
			color: black;
		}

		
		p, h1 {
			color: blue;
			text-align: center;
			font-family: fantasy;
			font-size: 65px;
		}

		.text-border {  
			-webkit-text-fill-color:#00FF00;
			-webkit-text-stroke-color:#00FF00;
			-webkit-text-stroke:2px;  
		}

	    p {
	    	color: pink;
	    	font-size:20px;
	    	font-family: fantasy;
	    }

	    h3 {
	    	color: blue;
			text-align: center;
			font-family: fantasy;
			font-size: 45px;
			 
		.text-border  
			-webkit-text-fill-color:#00FF00;
			-webkit-text-stroke-color:#00FF00;
			-webkit-text-stroke:2px;
			    }

		div {
			color: yellow;
			font-family: fantasy;
			font-size:20px ;
		}

